.container{
    position: relative;
    top: 90px;
    border: solid;
    border-radius: 10px;
    box-sizing: border-box;
    direction: rtl;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 30px;
    background: #eeeded;
}

.container h3{
    margin-right: 20%;
    margin-bottom: 20px;
}

.input-fluid{
    /*border:2px solid red;*/
    margin: 20px;
    height: auto;
}

.input-fluid input{
    border: none;
    width: 98%;
    height: 40px; /* for desktop*/
    padding-right:15px;
    padding-left: 15px;
    outline-color: #4485ea;
    border-radius: 4px;
    margin-bottom: 20px;
    /*background: #e3e2e2;*/
}

.input-fluid span{
    position: relative;
    float: left;
    margin-left: 10px;
    top:3px;
    font-family:"b yekan";
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    color: dodgerblue;
    background: #eeeded;
}

.hiddenSpan{
    display: none; /* in unfocused state! */
}

::placeholder{
    color: #0e0d0d;
}

.container input[type=submit]{
    width: 65% ;
    margin-right: 18%;
    margin-top: 30px;
    height: 50px;
    background-color: #4CAF50;
    border: none;
    opacity: 0.7;
    border-radius: 15px;
}

.container input[type=submit]:hover{
    cursor: pointer;
    opacity: 1;
}

.container p{
    margin-top: -5px;
    margin-right: 10px;
    color: red;
    float: right;
}

.container a{
    float: right;
    margin-right: 42%;
}
